{% extends 'chat/base.html' %}

{% block content %}
<h2>Entrar em Sala Privada</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nome">Nome da Sala</label>
        <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="senha">Senha</label>
        <input type="password" name="senha" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
